<div class="login">
    <div class="login__container">
      <input
        type="text"
        class="login__textBox"
        placeholder="E-mail Address"
      />
      <input
        type="password"
        class="login__textBox"
        placeholder="Password"
      />
      <input
        type="adresse"
        class="login__textBox"
        placeholder="Adresse"
      />
      <button
        class="login__btn"
        onclick=""
      >
        Inscription
      </button>
     
     
     
    </div>
  </div>

